<div class="clearfix">
	<div class="clearfix" id="lists">
		<%= render partial: "list", collection: @lists, as: :list %>
	</div>
	<div class="add-new-list">
		<div class="contain list">
			<div class="create-task-form">
				<%= form_for @new_list, remote: true do |f|	%>
					<div class="input-group">
						<%= f.text_field :name, class: "form-control", placeholder: "Start typing name for todo list", required: true, id: "add-new-list-field" %>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">
								<i class="fa fa-plus"></i>
								Add New List
							</button>
						</span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

